cfgv==3.4.0
distlib==0.3.8
filelock==3.13.4
identify==2.5.35
nodeenv==1.8.0
platformdirs==4.2.0
pre-commit==3.7.0
pyyaml==6.0.1
ruff==0.3.7
setuptools==69.2.0
virtualenv==20.25.1
psycopg2-binary==2.9.9
numpy==1.26.4
pgvector==0.2.5
pandas==2.2.2